// fonts

$h1-font: 58px 'Playfair Display', serif;
$h2-font: 38px 'Playfair Display', serif;
$top-menu-item-font: 11px 'Lato Bold', sans-serif;
$main-menu-item-font: 12px 'Lato Bold', sans-serif;
$catalog-item-name-font: 16px 'Playfair Display', serif;
$catalog-item-price-font: 16px 'Lato Regular', serif;
$catalog-item-new-font: 11px 'Lato Regular', serif;

// colors

$text-gray-color: rgba(51, 51, 51, .5);
$text-black-color: rgb(51, 51, 51);
$text-red-color: rgb(252, 65, 29);
$text-blue-color: rgb(18, 116, 211);

$border-black-color: rgba(0, 0, 0, .07);
$bag-border-blue-color: rgb(31, 134, 218);
$search-icon-color: rgb(127, 127, 127);

// dimensions

$global-width: 1200px;
$global-padding: 30px;

$top-menu-height: 43px;
$main-menu-height: 100px;
$subscribe-block-height: 287px;
$copyright-block-width: 215px;
$logo-height: 39px;
$bag-circle-size: 48px;

$product-padding: 15px;
